/* General */
#body{
	font-family: 'Droid Sans', sans-serif;
	background: black;
}
/* Navbar */
#navbar{
	height: 70px;
	background-color: black;
}
#nav-header{
	color: white;
	margin: 0px;
	text-align: center;
}
ul{
	padding: 0px;
	margin: 0px;
}
li{
	display: inline;
	list-style-type: none;
	padding: 0px 10px 0px 10px;
}
.nav-link{
	color: white;
	-webkit-transition: all 0.5s ease;
}
.nav-link:hover{
	color: white;
	text-decoration: none;
}


/* About*/
#about{
	height: 700px;
	background: white;
	padding: 30px;
}
#me{
	margin-left: 30%;
	margin-top: 100px;
	width: 40%;
}
#about-info{
	width: 40%;
	margin-left: 30%;
}

/* Projects */
#projects-header{
	margin: 0px;
}
#projects a{
	color: white;
}
#projects{
	padding: 30px;
	background: #08acd1;
	width: 100%;
	color: white;
}
#projects .border-box{
	border-radius: 50%;
	width: 200px;
	height: 200px;
	border: 2px solid white;
	overflow: hidden;
	background-color: white;
}
#projects .row{
	margin: 20px;
}
#skavengr-img{
	width: 150px;
	margin-left: 20px;
	margin-top: 20px;
	-webkit-transition: -webkit-transform .8s ease-in-out;
  	transition: transform .8s ease-in-out;
}
#skavengr-img:hover{
	-webkit-transform: rotate(360deg);
  	transform: rotate(360deg);
}
#mahalo-img{
	width: 250px;
	margin-left: -27px; 
	-webkit-filter: grayscale(100%);
       -moz-filter: grayscale(100%);
         -o-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
            filter: grayscale(100%); 

}
#mahalo-img:hover{
	-webkit-filter: grayscale(0%);
       -moz-filter: grayscale(0%);
         -o-filter: grayscale(0%);
        -ms-filter: grayscale(0%);
            filter: grayscale(0%); 
}

/* Games */
#games a{
	color: white;
}
#games-header{
	color: white;
	margin: 0px;
}
#games{
	padding: 30px;
	background: black;
	width: 100%;
	color: white;
}
#games .row{
	margin: 20px;
}
#games .border-box{
	width: 300px;
	height: 200px;
	border: 2px solid white;
	overflow: hidden;
}
#games img{
	width: 100%;

	-webkit-transition: all 0.6s ease;
     -moz-transition: all 0.6s ease;
       -o-transition: all 0.6s ease;
      -ms-transition: all 0.6s ease;
          transition: all 0.6s ease;

}
#games img:hover {
	width: 180%;
	margin-top: -70px;
	margin-left:-120px;
}

/* Music */
#music-header{
	color: white;
	margin: 0px;
}
#music{
	padding: 30px;
	height: 500px;
	background: #db6767;
	width: 100%;
}


/* Footer */
#contact{
	padding: 30px;
	background: white;
	width: 100%;
	height: 300px;
}
#contact a{
	color: black;
}
#contact h2{
	margin: 0px;
}